################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReckonTwo/ReckonTwo/ReckonTwo.csproj.user
