
<div class="jumbotron">
    <span class="col-lg-4"><img src="~/Content/NetPosition.png" class="center-block img-responsive img-rounded" /></span>
    <h1 class="text-center">Reckon Hackathon</h1>
    <p class="lead text-center"><i>"A computer is a stupid machine with the ability to do incredibly smart things, while computer programmers are smart people with the ability to do incredibly stupid things. They are, in short, a perfect match. — Bill Bryson"</i></p>
    <br/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Team</h2>
        <ul>
            <li>Remy Nicolo</li>
            <li>Morné Niemand</li>
            <li>Tomas Escamez</li>
            <li>Murugan Venkatachalam</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>The Objective</h2>
        <p>Build a small MVP that incorporates speech to text, text to speech and machine learning (BOT service) for various user interactions.</p>
        <h2>Tools used</h2>
        <ul>
            <li>ReactJS</li>
            <li>Azure Bot Service</li>
            <li>Microsoft Cognitive Services (LUIS, Speech to Text, Text to Speech)</li>
            <li>MS Azure & AWS</li>
            <li>AWS DynamoDB</li>
            <li>Lambda (Node.js)</li>
            <li>AWS API Gateway</li>
        </ul>
    </div> 
    <div class="col-md-4">
         @Html.Partial("_ChatWidget")
    </div>
</div>