

<div class="jumbotron">
    <span class="col-lg-4"><img src="~/Content/hacker.jpg" class="center-block img-responsive img-rounded" /></span>
    <h1 class="text-center">Reckon Hackathon</h1>
    <p class="lead text-center"><i>"Programming today is a race between software engineers striving to build bigger and better idiot-proof programs, and the universe trying to produce bigger and better idiots. So far, the universe is winning. (Rick Cook)"</i></p>
    <br/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Team</h2>
        <ul>
            <li>Remy Nicolo</li>
            <li>Morné Niemand</li>
            <li>Tomas Escamez</li>
            <li>Murugan Venkatachalam</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>The Objective</h2>
        <p>Build a small MVP that incorporates speech to text, text to speech and machine learning (BOT) for various user interactions...</p>
        <h2>Tools used</h2>
        <ul>
            <li>ReactJS.NET</li>
            <li>Azure Bot Service</li>
            <li>Microsoft Cognitive Services</li>
            <li>MS Azure</li>
        </ul>
    </div> 
    <div class="col-md-4">
         @Html.Partial("_ChatWidget")
    </div>
</div>