
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Speech to text</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="../">Home</a>
                </li>
                <li class="active">Speech to text</li>
            </ol>
            <ul>

                <div class="col-lg-8">
                    <button onclick="start()">Start Speaking</button>

                    <textarea id="output" style='width: 400px; height: 200px'></textarea>
                </div>
            </ul>
        </div>
    </div>
</div>
<!--Test-->
<script src="~/Scripts/speech.1.0.0.js" type="text/javascript"></script>
<script type="text/javascript">
        var client;

        function getMode() {
            return Microsoft.CognitiveServices.SpeechRecognition.SpeechRecognitionMode.shortPhrase;
        }

        function getKey() {
            return "42d4e9b82b4e43108387e5458216ab00";
        }

        function getLanguage() {
            return "en-us";
        }

        function clearText() {
            document.getElementById("output").value = "";
        }

        function extractResponse(response) {
            if (response.length > 0) {
                var splitArray = response.split(',');
                return splitArray[1].split(':')[1].replace(/['"]+/g, '');
            }
            return "";
        }

        function setText(text) {
            document.getElementById("output").value += text;
        }

        function getLuisConfig() {
            var appid =""; //"luis_appid"
            var subid = ""; //"luis_subid";

            if (appid.length > 0 && subid.length > 0) {
                return { appid: appid, subid: subid };
            }

            return null;
        }

        function start() {
            var mode = getMode();
            var luisCfg = getLuisConfig();

            clearText();

            if (luisCfg) {
                client = Microsoft.CognitiveServices.SpeechRecognition.SpeechRecognitionServiceFactory.createMicrophoneClientWithIntent(
                    getLanguage(),
                    getKey(),
                    luisCfg.appid,
                    luisCfg.subid);
            } else {
                client = Microsoft.CognitiveServices.SpeechRecognition.SpeechRecognitionServiceFactory.createMicrophoneClient(
                    mode,
                    getLanguage(),
                    getKey());
            }
            client.startMicAndRecognition();
            setTimeout(function () {
                client.endMicAndRecognition();
            }, 5000);

            client.onPartialResponseReceived = function (response) {
                setText(response);
            }

            client.onFinalResponseReceived = function (response) {
                console.log(JSON.stringify(response));
                setText(extractResponse(JSON.stringify(response)));
            }

            client.onIntentReceived = function (response) {
                setText(response);
            };
        }
</script>