  
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Text to speech</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="../">Home</a>
                </li>
                <li class="active">Text to speech</li>
            </ol>
            <h4>References:</h4>
            <ul>
                <li><a target="_blank" href="https://www.microsoft.com/cognitive-services/en-us/speech-api">Bing Text To Speech API</a></li>
            </ul>
            <h4>Things to note:</h4>
            <ul>
                <li>The JSON Web Token has an expiry time of 10 minutes so we renew it every 9 minutes</li>
                <li>The maximum amount of audio returned for a given request must not exceed 15 seconds</li>
            </ul>
            <br/>
            <h4>Enter some text...</h4>
            <div class="col-lg-8">
                <textarea id="txtInput" class="form-control" rows="6" cols="8" placeholder="Start typing..." required onchange="callApi(this.value);"></textarea>
                <br/>
                <button class="btn btn-primary" onclick="clearField();">Clear</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
    function callApi(val) {
        if (val)
            if (val.length >= 2) {
                $.ajax({
                    url: "/Home/ConvertTextToSpeech",
                    type: "POST",
                    data: JSON.stringify({ text: val }),
                    dataType: "json",
                    async: true,
                    contentType: "application/json; charset=utf-8",
                    //success: function (data) {
                    //},
                    error: function() {
                        alert("An error has occured!");
                    }
                });
            }
    }

    function clearField() {
        $("#txtInput").val('');
        $("#txtInput").focus();
    }

</script>
