
<link href="~/Content/ChatWidget.css" rel="stylesheet" />
<link rel="stylesheet" href="/Content/font-awesome/css/font-awesome.min.css">

<div class="container bootstrap snippet">
    <div class="row">
        <div id="content"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/Scripts/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
        <script type="text/jsx" src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js">
        </script>
        <script src="http://fb.me/JSXTransformer-0.12.2.js"></script>
        <script type="text/jsx" src="/Scripts/ChatComponent.jsx">
        </script>
    </div>
</div>                

@*<div class="container bootstrap snippet">
    <div class="row">
        <div>
            <div class="portlet portlet-default">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4><i class="fa fa-circle text-green"></i> Chat</h4>
                    </div>
                    <div class="portlet-widgets">
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion" href="#chat"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="chat" class="panel-collapse collapse in">
                    <div>
                        <div class="portlet-body chat-widget" style="overflow-y: auto; width: auto; height: 300px;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="text-center text-muted small">@DateTime.Now.ToLongDateString()</p>
                                </div>
                            </div>

                            <!--1st Comment start-->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="~/Content/reckon_logo.png" />
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                Reckon BOT
                                                <span class="small pull-right">12:23 PM</span>
                                            </h4>
                                            <p>Hi, how can I help you?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!--1nd Comment end-->
                            <!--2nd Comment start-->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle" src="~/Content/user.png" />
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                User
                                                <span class="small pull-right">12:28 PM</span>
                                            </h4>
                                            <p>Hi, what is my current leave balance? This will be replaced with Thomas's React chat box...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!--2nd Comment end-->


                        </div>
                    </div>

                    <!-- start message form-->
                    <div class="portlet-footer">
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Enter message..."></textarea>
                            </div>
                            <div class="form-group">
                                <img src="~/Content/speaking.gif" height="40px;" width="70px;" />
                                <button type="button" class="btn btn-default pull-right">Send</button>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                    <!-- finish message form -->

                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
    </div>
</div>*@                